<div>
  <span title="Chromo.id Connection State">State: </span>
  <strong>{{ plugin_chromoid_link_phoenix_socket_connection|escape }}</strong>
</div>
<div>
  <span title="Last Ping from Erlang">Last Erlang Ping: </span>
  <strong>{{ plugin_chromoid_link_last_ping|escape }}</strong>
</div>
